logs/*.csv
outputs/**/*.svg
outputs/**/*.png
outputs/**/*.pdf
work/
.Rhistory
.RData
.Ruserdata
.Renviron
~$*.xlsx
~$*.xlsm
.Rproj.user
config/*.pre_release_settings_backup.xlsx
config/*.inspect.ndjson
config/**/*.inspect.ndjson
